<div class="diffview-container" #diffContainer>
  <!-- left content section -->
  <div class="left-section">
    <ng-scrollbar position="invertY">
      <compare-section
        side="left"
        [text]="leftText"
        [connections]="getConnections()"
        (onAddSection)="addSection($event)"
        (onExecuteConnectionCallback)="executeConnectionCallback()"
        (onClickSection)="clickSection($event)"
      >
      </compare-section>
    </ng-scrollbar>
  </div>

  <!-- connection links -->
  <div class="connectors">
    <compare-links
      #compareLinks
      [connections]="getConnections()"
      (mousewheel)="scrollSections($event)"
      (onAddConnectionCallback)="addConnectionCallback($event)"
      [colorSeparationLine]="colorSeparationLine"
      [colorLeftBlock]="colorLeftBlock"
      [colorRightBlock]="colorRightBlock"
    ></compare-links>
  </div>

  <!-- right content section -->
  <div class="right-section">
    <ng-scrollbar>
      <compare-section
        side="right"
        [text]="rightText"
        [connections]="getConnections()"
        (onAddSection)="addSection($event)"
        (onExecuteConnectionCallback)="executeConnectionCallback()"
        (onClickSection)="clickSection($event)"
      >
      </compare-section>
    </ng-scrollbar>
  </div>
</div>
