.diffview-container {
  display: flex;
  justify-content: space-between;
  height: 25rem;
}

.left-section {
  width: 100%;
}

.right-section {
  width: 100%;
}

.connectors {
  height: 100%;
}
