.diffview-container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 100%;
  border: 1px solid blue;
}

.right-section {
  width: 100%;
  border: 1px solid salmon;
}
